**/*.ts
**/*.tsx
!**/*.d.ts
.git/
test/
hooks/
.circleci/
lib/tsconfig.json
.mocharc.yml
.prettierrc.json
.prettierrc
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
webJsInterfaceSupported.json
.github/
.gitattributes
examples/
.prettierignore
docs/
tslint-rules/
.babelrc