/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.success {
    color: green;
}

.error {
    color: red;
}